###################################
# • ---------- Files ---------- • #
###################################


##################################
# • ---------- DIRS ---------- • #
##################################
files
info
build/*


##################################
# • ---------- MISC ---------- • #
##################################
*.DS_Store
