###################################
# • ---------- Files ---------- • #
###################################
*.lang


##################################
# • ---------- DIRS ---------- • #
##################################
files/info
files/prototypes
files/graphs
files/sublime_project_files
info
build/*


##################################
# • ---------- MISC ---------- • #
##################################
*.DS_Store
