###################################
# • ---------- Files ---------- • #
###################################


##################################
# • ---------- DIRS ---------- • #
##################################
files
testing/bin


##################################
# • ---------- MISC ---------- • #
##################################
*.DS_Store
